{{ ansible_managed | comment }}

# Dépôts Debian officiels
deb http://deb.debian.org/debian bullseye main

deb http://deb.debian.org/debian-security/ bullseye-security main

deb http://deb.debian.org/debian bullseye-updates main
