{{ ansible_managed | comment }}

#!/bin/bash
# -*- coding: utf-8 -*-

#==============================================================================
# Titre            : compilation.sh
# Description      : Script de compilation de monit.
# Auteur           : Sebastux
# Date             : 27/08/2022
# Modification     : 27/08/2022
# Version          : 1.00
# Utilisation      : ./compilation.sh
# Notes            : Script lancé par ansible.
# Version de bash  : 5.1.16(1)-release
#==============================================================================

clear

# Modification des droits du script de configuration.
chmod 700 ./configure
 
# Configuration de la compilation.
./configure --prefix=/usr/ --without-ipv6 --enable-optimized --without-ssl

# Compilation de monit.
make

# Installation de monit.
make install
