{{ ansible_managed | comment }}

# Fichier de configuration du serveur ssh
check file monitrc path /etc/monit/monitrc

# Hash du fichier
if failed checksum and
   expect the sum {{ monitrc.stat.checksum }}
then alert

# Envoi d’une alerte si la somme SHA1 du fichier change
if failed checksum and expect the {{ monitrc.stat.checksum }}
then alert

# Ajout du fichier dans un groupe
group fichierconfig
