{{ ansible_managed | comment }}

# Alias perso
unalias ll 2>/dev/null
alias ll='ls -lh --color=auto'

# Alias grep
alias grep='grep --color=auto'

# Alias de maj système.
alias maj='clear; nala upgrade -y'

# Ajout du timestamp dans history
HISTTIMEFORMAT="%d/%m/%y %T "

# Affichage de la banniére
clear
cat /root/.alias/banniere.txt
echo ""
neofetch
