{{ ansible_managed | comment }}

# Alias divers
unalias ll 2>/dev/null
alias ll='ls -lh --color=auto'

# Alias grep
alias grep='grep --color=auto'

# Ajout du timestamp dans history
HISTTIMEFORMAT="%d/%m/%y %T "

# Affichage de la banniére
clear
cat $HOME/.alias/banniere.txt
echo ""
